$blue_player: rgb(68, 178, 230);
$blue_player_border: rgb(29, 147, 202);
$red_player: red;
$red_player_border: darkred;
$obstacle_advanced_color: rgb(23, 156, 23);
$obstacle_advanced_border_color: rgb(5, 109, 5);
$obstacle_basic_color: rgb(72, 45, 230);
$obstacle_basic_border_color: rgb(46, 20, 196);
$obstacle_medium_color: rgb(175, 19, 110);
$obstacle_medium_border_color: rgb(128, 3, 76);