@use '../variables/colors' as colors;

.obstacle-basic{
    width: 40px;
    height: 40px;
    background-color: colors.$obstacle_basic_color;
    border: solid 4px colors.$obstacle_basic_border_color;
}

.obstacle-medium{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid colors.$obstacle_medium_color;
}

.obstacle-advanced{
    position: relative;
    height: 0;
    width: 30px;
    border-top: 30px solid colors.$obstacle_advanced_color;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    &::after{
        content: '';
        position: absolute;
        border-bottom: 30px solid colors.$obstacle_advanced_border_color;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        bottom: 30px;
        left: -15px;
    }
}